*{margin: 0; padding: 0; box-sizing: border-box;}
ul,ol,li{list-style: none;}
a{text-decoration: none;}
button{
    width: 70px;
    height: 30px;
    font-size:11px;
    color:var(--black-color);
    line-height: 10px;
    text-align: center;
    background-color: rgba(0,0,0,0);
    border: solid 1px var(--gray-light-color);
    border-radius: 12px;    
}
hr {
    background-color:var(--gray-light-color);
    height:1px;
    border:0;
}
:root{
/* 색상 */
--white-color:#fff;
--black-color:#140a00;
--blue-color:#045fd4;
--red-color:#ff0000;
--gray-dark-color:#909090;
--gray-light-color:#e0e0e0;

/* 사이즈 */
--padding: 12px;
--avatar-size:36px;

/* 폰트사이즈*/
--font-large: 18px;
--font-medium: 14px;
--font-small: 12px;
--font-micro: 10px;
}

.inner{
    display:flex;
    padding: var(--padding);
    justify-content: space-evenly;
   }

.stillcut{
    width:100%;
    height:324px;
    background-color:var(--black-color);
    text-align: center;
}
.still_poster{
   width: 80%;
   height: 324px;
   max-width:1240px;
}
.information_top{
    display:flex;
    justify-content:center;
    padding: var(--padding);
}
.movie_wrap{
    display:flex;
}
.moive_poster{
    width:200px;
    height:300px;
}
.information_middle{
    display:flex;
    flex-direction:column;
    padding-left: 10px;
    justify-content: space-around;
}
.moive_info{
     display:flex;
     flex-direction:column;
     text-align: center;
  }
.graph{
    display:flex;
    justify-content: center;
}
.more{
    position:absolute;
    right:10%;
}
.movie_content{
    width:840px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.cast_wrap{
    display:flex;
    flex-direction:column;
    text-align: center;

}
.cast_picture{
    width: 150px;
    height:200px;
}

.trailer_wrap{
    display:flex;
    padding: var(--padding);
}
.review .inner .review_wrap{
    display:flex;
    flex-direction:column;
    text-align: center;
    width:250px;
    height:300px;
    border: solid 1px var(--gray-light-color);
    border-radius: 10px;
    padding:var(--padding);
}
.top_wrap{
    display:flex;
    justify-content:space-between; 
    height:40px;
}
.user_picture{
    width:var(--avatar-size);
    height:var(--avatar-size);
    border-radius:50%;
}
.user_wrap>ul{
  display:flex;
}
.grade{
    border: solid 1px var(--gray-light-color);
    width: 30px;
    height:20px;
    border-radius:10px;
    font-size:10px;
}
.review_content{
    height:200px;
    margin:auto;
    
}
.review_bottom{
    display:flex;
    justify-content:space-between;
    padding:var(--padding);
    margin-top:auto;
}


