*{margin: 0; padding: 0; box-sizing: border-box;}
*::before,*::after{margin: 0; padding: 0; box-sizing: border-box;}
ul,ol,li{list-style: none;}
a{text-decoration: none;}
.content{width:100%; padding: 100px 0;}
.content .wrap{display: flex; flex-flow: row wrap; justify-content: space-between;}
.inner{width: 1170px; margin: 0 auto;}
@media screen and (max-width: 1200px) {
    .content{padding: 120px 40px;}
    .inner{width: 100%;}
}

/* section */
/* 영화검색결과 */
.movie_wrap{width: 270px;}
.movie_poster{margin-bottom: 5px; width: calc(270px-30%); height: 372px; background-color: #ddd; border-radius: 5px; overflow: hidden;}
/* 포스터 이미지 사이즈 조정 */
.movie_poster img{display: block; width: 100%; transition: 0.3s;} 
.movie_poster img:hover{animation: scaleUp 0.3s; transform: scale(1.05);}
@keyframes scaleUp {
    0%{transform: scale(1);}
    100%{transform: scale(1.05);}
}
.movie_info{padding: 0 5px; display: flex; flex-direction: column; justify-content: space-between; align-items: center;}
.movie_info .movie_title{font-size: 15px; font-weight: bold;}
.movie_info .movie_review{font-size: 13px; display: flex; align-content: center;}
.movie_review .star {
    font-size: 13px; 
    color: #ffa404;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 20
}
/* 인물 */
#person .inner .wrap:nth-child(2){
    justify-content: flex-start;
}
.person{display:flex; }
.person_wrap{width: 270px; padding:0 auto; position:relative;}
.person_poster{margin-bottom: 5px; width: calc(270px-30%); height: 372px; background-color: #ddd; border-radius: 5px; overflow: hidden;}
/* 포스터 이미지 사이즈 조정 */
.person_poster img{display: block; width: 100%; transition: 0.3s;} 
.movie_poster img:hover{animation: scaleUp 0.3s; transform: scale(1.05);}
@keyframes scaleUp {
    0%{transform: scale(1);}
    100%{transform: scale(1.05);}
}
.person_info{padding: 0 5px; display: flex; flex-direction: column; }
.movie_title{font-size: 15px; font-weight: bold;}
.movie_review{font-size: 13px; display: flex; align-content: center;}

