*/*공통사항*/
{
	margin:0;/*바깥 여백*/
	padding:0;/*안쪽 여백*/
}
ul {list-style:none;}/*마크없애기*/

:root{
    /* 색상 */
    --white-color:#fff;
    --black-color:#140a00;
    --blue-color:#045fd4;
    --red-color:#ff0000;
    --gray-dark-color:#D9D9D9;
    --gray-light-color:#F4F4F4;
  
    /* 사이즈 */
    --padding: 12px;
    --avatar-size:50px;
    
    /* 폰트사이즈*/
    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

/* 구글 아이콘 설정 */
.material-symbols-rounded {
	font-variation-settings:
	'FILL' 0,
	'wght' 0,
	'GRAD' 200,
	'opsz' 48
  }
.banner
{
  	background-color:var(--gray-light-color);
  	width: auto;
  	height: 300px;
    display: flex;
    justify-content: center;
}
.banner>div
{
	position:relative;
    max-width:500px;
    display: flex;
    align-items: center;
}
#intro_self
{
	max-width: 300px;
}

main
{	
	/* border: 10px solid red; */
	position:relative;
	margin:auto;
	width: 1200px;
	display: flex; /* flex container를 만들어주는 속성 */
   	justify-content: space-between; /* 행 정렬 하는 속성, 영역 간 공백을 만들어주는 속성 */
}

.sidebar
{
	width: 23%;
}
.sidebar ul
{
	padding:30px 0px;
	position: sticky;
	top: 200px;
}
.sidebar li
{
	margin: 20px 20px;
}
.sidebar a
{
	text-decoration: none;
	color:black;
	display: flex;
    align-items: center;
	height: 40px;
}
.sidebar img
{
	width:22px;
}
.sidebar li :hover
{
	background-color: var(--gray-light-color);
}
a.selected
{
	background-color: var(--gray-light-color);
	font-weight: bold;
}
a.selected span.material-symbols-rounded 
{
	font-variation-settings:
	'FILL' 0,
	'wght' 500,
	'GRAD' 200,
	'opsz' 48
}

main > article
{	
	width:100%;
}
article > section
{
	margin: 30px auto;
	padding: 30px;
}

.pageup_btn
{
    z-index: 10;
    position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
    right: 5%;
    bottom: 5%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: var(--gray-light-color);
	text-decoration: none;
	color: #140a00;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}