*{margin: 0; padding: 0; box-sizing: border-box;}
*::before,*::after{margin: 0; padding: 0; box-sizing: border-box;}
ul,ol,li{list-style: none;}
a{text-decoration: none;}
.content{width:100%; padding: 100px 0;}
.content .wrap{display: flex; flex-flow: row wrap; justify-content: space-between;}
.inner{width: 1170px; margin: 0 auto;}
@media screen and (max-width: 1200px) {
    .content{padding: 120px 40px;}
    .inner{width: 100%;}
}

button{
    width: 70px;
    height: 30px;
    font-size:11px;
    color:black;
    line-height: 10px;
    text-align: center;
    background-color: rgba(0,0,0,0);
    border: solid 1px var(--gray-light-color);
    border-radius: 12px;    
}
:root{
/* 색상 */
--white-color:#fff;
--black-color:#140a00;
--blue-color:#045fd4;
--red-color:#ff0000;
--gray-dark-color:#909090;
--gray-light-color:#e0e0e0;

/* 사이즈 */
--padding: 12px;
--avatar-size:36px;

/* 폰트사이즈*/
--font-large: 16px;
--font-medium: 14px;
--font-small: 12px;
--font-micro: 10px;
}
/* 스틸컷 */
#stillcut{
    height:324px;
    background-color: #ddd;
}
#stillcut .stillcut_img {
    display: block; width: 100%;
}
/* 영화메인 */
.content{
    padding: 50px;
}
#main .inner .wrap{
    justify-content:center;
}
#main .movie_poster{
    position:relative;
    top:-100px;
    width: 270px;
    height:372px;
    background-color: #dddd;
    z-index:1;
}
#main .movie_poster img{
    display: block; width: 100%;
}
.movie_poster img:hover{animation: scaleUp 0.3s; transform: scale(1.05);}
@keyframes scaleUp {
    0%{transform: scale(1);}
    100%{transform: scale(1.05);}
}

.middle_wrap{
    display:flex;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
}
.moive_info{
    display:flex;
    flex-direction:column;
    margin-top:20px;
 }
/* 그래프 */
#main .inner .wrap .bottom_wrap{
   
}
.graph{
    display:flex;
    width:300px; 
    height: 100px; 
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    margin: 20px;
    padding:var(--padding);
    position:relative;
  }
  .graph-bar{
    position: absolute;
    width: 30px; 
    bottom:0; 
}
  .graph .graph-bar.bar5 span{
    background-color:violet;
    height:30px;
  } 
/* 영화상세정보 */
 #infomation .inner .moive_content{
    height:100px;
    width:840px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
 }

 /* 출연진 */

 .cast_wrap{width: 210px;}
 .cast_picture_wrap{margin-bottom: 5px; width: calc(210px-30%); height: 312px; background-color: #ddd; border-radius: 5px; overflow: hidden;}
 /* 포스터 이미지 사이즈 조정 */
 .cast_picture{display: block; width: 100%;} 


 /* 트레일러 */




 /* 리뷰 */
 .review_wrap{
    display:flex;
    flex-direction:column;
    text-align: center;
    width:170px;
    height:272px;
    border: solid 1px var(--gray-light-color);
    border-radius: 10px;
    padding:var(--padding);
}
.review_top{
    display:flex;
    justify-content:space-between;
}
.user_wrap{
    display:flex;
}
 .user_picture{
    width:var(--avatar-size);
    height:var(--avatar-size);
    border-radius:50%;
}

.grade{
    border: solid 1px var(--gray-light-color);
    width: 30px;
    height:20px;
    border-radius:10px;
    font-size:10px;
}
.review_content{
    height:200px;
    margin:auto;
    
}
.review_bottom{
    display:flex;
    justify-content:space-between;
    padding:var(--padding);
    margin-top:auto;
}

 /* 정보 더보기 모달 */






 /* 아이콘 */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 30
}
